.container_12
  .grid_2= link_to_unless_current 'Archery Range', '/tour/archery.html'
  .grid_2= link_to_unless_current 'Athletic Courts', '/tour/athletic-courts.html'
  .grid_2= link_to_unless_current 'Athletic Fields', '/tour/athletic-fields.html'
  .grid_2= link_to_unless_current 'Cabins', '/tour/cabins.html'
  .grid_2= link_to_unless_current 'Challenge Course', '/tour/challenge-course.html'
  .grid_2= link_to_unless_current 'Craft Areas', '/tour/craft-areas.html'
  .grid_2= link_to_unless_current 'Dining Hall', '/tour/dining-hall.html'
  .grid_2= link_to_unless_current 'Farmhouse', '/tour/farmhouse.html'
  .grid_2= link_to_unless_current 'Infirmary', '/tour/infirmary.html'
  .grid_2= link_to_unless_current 'The Knoll', '/tour/knoll.html'
  .grid_2= link_to_unless_current 'Riflery &amp; Skeet', '/tour/riflery-skeet.html'
  .grid_2= link_to_unless_current 'Waterfront', '/tour/waterfront.html'
  .grid_2= link_to_unless_current 'Wilderness Trips', '/tour/wilderness-trips.html'
