%ul.subnavigation
  %li= link_to_unless_current 'The Knoll', '/tour/knoll.html'
  %li= link_to_unless_current 'Living at Camp', '/tour/life.html'
  %li= link_to_unless_current 'Dining Hall', '/tour/dining-hall.html'
  %li= link_to_unless_current 'Infirmary', '/tour/infirmary.html'
  %li= link_to_unless_current 'Farmhouse', '/tour/farmhouse.html'
  %li= link_to_unless_current 'Waterfront', '/tour/waterfront.html'
  %li= link_to_unless_current 'Challenge Course', '/tour/challenge-course.html'
  %li= link_to_unless_current 'Riflery &amp; Skeet', '/tour/riflery-skeet.html'
  %li= link_to_unless_current 'Archery Range', '/tour/archery.html'
  %li= link_to_unless_current 'Athletic Courts', '/tour/athletic-courts.html'
  %li= link_to_unless_current 'Athletic Fields', '/tour/athletic-fields.html'
  %li= link_to_unless_current 'Craft Areas', '/tour/craft-areas.html'
  %li= link_to_unless_current 'Wilderness Trips', '/tour/wilderness-trips.html'
