---
title: "Tour"
description: "Take an inside look at what William Lawrence camp overnight summer camp has to offer."
---

%h1.page-heading.amatic
  = current_page.data.title

.liner.shadow.rounded
  .row#archery
    .col-sm-12
      %h2 Archery
  .row
    .col-sm-5.tour-description
      %p
        We have one of the best archery programs among summer camps in the area.
        With a covered range and two massive cabinets to store our myriad of gear,
        the capacity to have 16 shooters at a time, and the ability to shoot at a
        range of up to 40 meters, our range provides a comfortable place for instruction
        and a home to our undefeated archery team.
    .col-sm-7
      = vimeo 31092796

  %hr#arena-soccer

  .row
    .col-sm-12
      %h2 Arena Soccer
  .row
    .col-sm-5.tour-description
      %p
        Our brand new arena soccer court is home to our unique arena soccer program.
        Offered as an instructional class, the focus is to use tight ball handling skills
        and the arena walls themselves to best the other team.
    .col-sm-7
      = vimeo 31092949

  %hr#arts-and-crafts

  .row
    .col-sm-12
      %h2 Arts &amp; Crafts
  .row
    .col-sm-5.tour-description
      %p
        Hemp necklaces, gimp, kites, and much more are available for anyone
        to make in the arts and crafts room. But, if stationary crafts are
        not your cup of tea, you can build your own model rocket and launch it far above the trees!
    .col-sm-7
      = vimeo 31093192

  %hr#barn

  .row
    .col-sm-12
      %h2 The Barn
  .row
    .col-sm-5.tour-description
      %p
        Our Barn is an important area to camp as it provides the ideal location for
        various #{link_to 'Evening Programs', '/campers#evening-program'}, a large game
        room and, in case of inclement weather, a gymnasium for indoor sports. The Barn
        dates back to before the founding of the camp and is an important part of the
        #{link_to 'camps heritage', '/tradition/history.html'}. The Barn was recently refurbished
        as part of the Centennial Campaign to improve its flexibility and usability for
        the next generation of campers.
    .col-sm-7
      %img{ src: '/images/tour/barn-outside.jpg', height: 308, width: 460, alt: "the camp's barn after the completion of a large amount of construction" }

  %hr#baseball

  .row
    .col-sm-12
      %h2 Baseball
  .row
    .col-sm-5.tour-description
      %p
        America&rsquo;s pastime, and part of the core of our sports here at camp.
        You can join in the Home Run Derby, practice pitching, or practice fielding ground balls
        on our full-size diamond. Get some guys together for a pickup game, or work with a coach
        on your batting technique; no matter what, we&rsquo;ve got you covered.
    .col-sm-7
      = vimeo 31093270

  %hr#basketball

  .row
    .col-sm-12
      %h2 Basketball
  .row
    .col-sm-5.tour-description
      %p
        We&rsquo;ve got two basketball courts to play on; after flag lowering, there&rsquo;s usually
        == a huge game of Knockout on the #{link_to 'Knoll', '/tour#knoll'}.
        We&rsquo;ll be more than happy to teach you anything
        you want to know, or just jump into a pickup game.
    .col-sm-7
      = vimeo 31093571

  %hr#cabins

  .row
    .col-sm-12
      %h2 Cabins
  .row
    .col-sm-5.tour-description
      %p
        Campers live in screened cabins separated into the
        Junior, Middler, and Senior units. Campers are assigned
        to units based on their grade in school.
        Each unit has its own bath house, and counselors
        live in the cabins with the campers in separate quarters.
    .col-sm-7
      = vimeo 31094298

  %hr#canoeing-kayaking

  .row
    .col-sm-12
      %h2 Canoeing &amp; Kayaking
  .row
    .col-sm-5.tour-description
      %p
        Anything you want to learn about canoeing or kayaking, we can teach you.
        Forward strokes, t-rescues, and for the intrepid few, we&rsquo;ll teach you how to Eskimo roll a kayak.
    .col-sm-7
      = vimeo 31702760

  %hr#canoeing-trips

  .row
    .col-sm-12
      %h2 Canoeing Trips
  .row
    .col-sm-5.tour-description
      %p
        Glide across the scenic waters of Squam Lake, or test yourself against the rapids of the
        Androscoggin River. There is no better way to travel and experience the wilderness than by canoe.
    .col-sm-7
      = vimeo 31094607

  %hr#centennial-lodge

  .row
    .col-sm-12
      %h2 Centennial Lodge
  .row
    .col-sm-5.tour-description
      %p
        The Centennial Lodge is a new, beautifully constructed activity area that features a large hall with
        a stage and a basement that houses the new Camp Store and a well equipped weight room.  There are
        plans to #{link_to 'finish the basement', '/tradition/charitable-giving.html'} in the near future to provide
        dedicated areas for fly tying, a camp museum, a costume room for skits and the
        #{link_to 'Braves Honor Society','/tradition/honor-society.html'}.  The views of area lakes and mountains from
        the Lodge's deck are unbelievable, as they are in most of camp.
    .col-sm-7
      = carousel 'centennial lodge', '/images/tour/centennial-lodge.jpg', '/images/tour/centennial-lodge-inside.jpg', '/images/tour/centennial-lodge-rendering.jpg'

  %hr#challenge-course

  .row
    .col-sm-12
      %h2 Challenge Course
  .row
    .col-sm-5.tour-description
      %p
        Our Challenge Course boasts a climbing tower atop the knoll
        with stunning views, a low ropes course to build team work skills,
        as well as a top-notch high ropes course.
        We built our whole challenge course ourselves so you won&rsquo;t find
        anyone who knows their course like we do ours!
    .col-sm-7
      = vimeo 31094699

  %hr#climbing-tower

  .row
    .col-sm-12
      %h2 Climbing Tower
  .row
    .col-sm-5.tour-description
      %p
        The fifty-foot tower offers three sides to climb and the top provides the
        best view in all of camp. See if you can climb all the routes!
    .col-sm-7
      = vimeo 31092396

  %hr#craft-areas

  .row
    .col-sm-12
      %h2 Craft Areas
  .row
    .col-sm-5.tour-description
      %p
        Some prefer to make something with their hands whether it be of pine,
        hemp, or feathers. We can teach you how to do much more than just the
        traditional arts and crafts, such as fly tying and wood working.
    .col-sm-7
      = vimeo 31651095

  %hr#day-hikes

  .row
    .col-sm-12
      %h2 Day Hikes
  .row
    .col-sm-5.tour-description
      %p
        Even the Juniors get into the outdoors! They take a day hike up Mt. Major or Bald Knob and,
        as a cabin, they embark on a journey across the great Lower Beech Pond to stay the night
        in the camp&rsquo;s own lean-to at Perch Point. S&rsquo;mores included!
    .col-sm-7
      %img{ src: '/images/tour/wilderness-trips/day-hikes.jpg', alt: 'juniors on a day hike' }

  %hr#dining-hall

  .row
    .col-sm-12
      %h2 Dining Hall
  .row
    .col-sm-5.tour-description
      %p
        The camp meets three times a day to indulge
        in the incredible food provided by our camp chef,
        == and to relish in the #{link_to 'camp spirit', '/campers#camp-spirit'}.
        Our mealtimes are energetic, peppered with songs,
        chants, and a healthy boisterous attitude.
    .col-sm-7
      %img{ src: '/images/tour/dining-hall.jpg', alt: 'Pratt Hall' }
      = vimeo 31652494

  %hr#farmhouse

  .row
    .col-sm-12
      %h2 Farmhouse
  .row
    .col-sm-5.tour-description
      %p
        The Farmhouse is home to the Camp&rsquo;s year-round administrative
        == offices in addition to the Library, Recreation room, #{link_to 'Arts &amp; Crafts', '/tour#craft-areas'},
        Camp Store, and senior staff housing. The structure itself dates
        == back to the #{link_to 'original owner', '/tradition/history.html'} of the land, the farming family Copp.
        Thus it is a building rich with tradition and character.
        Our Library houses plaques which catalogue past campers and staff members,
        == as well as those who have earned the right to be called a #{link_to 'Brave', '/tradition/honor-society.html'}.
        In addition to the decor, the Library has a large number of books
        available for campers to borrow and read at their leisure.
        The Recreation room has a pool table, two fooz ball tables,
        as well as a cabinet full of board games.
    .col-sm-7
      = carousel 'farmhouse', '/images/tour/farmhouse.jpg', '/images/tour/library.jpg'

  %hr#fishing

  .row
    .col-sm-12
      %h2 Fishing
  .row
    .col-sm-5.tour-description
      %p
        Come on down, sit in a drift boat by the shore, and throw a line out into the well-stocked
        waters of Lower Beech Pond. Catch a bass or a trout and our chef will cook it for your dinner!
    .col-sm-7
      %img{ src: '/images/tour/waterfront/fishing.jpg', :alt => 'two campers fishing'}

  %hr#fly-fishing

  .row
    .col-sm-12
      %h2 Fly-fishing &amp; Fly-tying
  .row
    .col-sm-5.tour-description
      %p
        Learn how to outsmart a fish with a well-tied fly and the perfect cast:
        we&rsquo;ll help you learn the storied art of fly fishing, to prepare you to
        tackle the rivers and streams of the world on your own.
    .col-sm-7
      = vimeo 31654239

  %hr#high-ropes

  .row
    .col-sm-12
      %h2 High Ropes
  .row
    .col-sm-5.tour-description
      %p
        Take a leap from the Shiver Pole, battle the Gauntlet, or ascend the Vertical Playpen,
        and don&rsquo;t worry about falling &mdash; we&rsquo;ll catch you.
    .col-sm-7
      = vimeo 31655063

  %hr#hiking-trips

  .row
    .col-sm-12
      %h2 Hiking Trips
  .row
    .col-sm-5.tour-description
      %p
        Take a walk up Chocorua for panoramic views of the White Mountains,
        or battle the elements up the mighty Mt. Washington: no matter what,
        you are sure to feel elevated!
    .col-sm-7
      = vimeo 31655114

  %hr#infirmary

  .row
    .col-sm-12
      %h2 Infirmary
  .row
    .col-sm-5
      %p
        Our registered camp nurse lives in the Infirmary all summer,
        ready to care for any and all injuries and ailments.
        == It is located at the bottom of the #{link_to 'Knoll', '/tour#knoll'},
        == next to the #{link_to 'Farmhouse', '/tour#farmhouse'}.
        We are a short 15 minute ride to the hospital should the need arise.
    .col-sm-7
      %img{ :src => '/images/tour/infirmary.jpg', :alt => 'infirmary' }

  %hr#international-sports

  .row
    .col-sm-12
      %h2 International Sports
  .row
    .col-sm-5.tour-description
      %p
        Ever played Touch Rugby before? How about Cricket? If not, then here&rsquo;s your opportunity.
        == Our #{link_to 'international staff', '/parents/our-staff.html'} are ready
        to teach you games that we play on this side of the pond &mdash;
        you may find you&rsquo;ve been missing out.
    .col-sm-7
      = vimeo 31702746

  %hr#knoll

  .row
    .col-sm-12
      %h2 The Knoll
  .row
    .col-sm-5.tour-description
      %p
        The Knoll is the hub of all the energy here at camp.
        From its crest you can enjoy fabulous views of Lake Winnipesaukee
        and the foothills of the White Mountains.
        Come take a seat in our chapel and see what we mean!
    .col-sm-7
      %img{ :src => '/images/tour/knoll.jpg', :alt => 'camp knoll and climbing tower' }

  %hr#lacrosse

  .row
    .col-sm-12
      %h2 Lacrosse
  .row
    .col-sm-5.tour-description
      %p
        Even if you have never touched a stick before, our instructors have the
        experience to get you passing, shooting, and defending in no time at all.
        In just a single afternoon you will have already learned the basics and
        moved on to more important things: having fun!
    .col-sm-7
      = vimeo 31702778

  %hr#low-ropes

  .row
    .col-sm-12
      %h2 Low Ropes
  .row
    .col-sm-5.tour-description
      %p
        Our low ropes course is filled with different elements to help build
        your skills in teamwork and problem solving. Even low to the ground,
        there’s tons of fun to be had.
    .col-sm-7
      = vimeo 31705687

  %hr#outdoorsman-skills

  .row
    .col-sm-12
      %h2 Outdoorsman Skills
  .row
    .col-sm-5.tour-description
      %p
        Want to learn about the outdoors? We&rsquo;re ready to teach
        you the skills that you&rsquo;ll need. You can learn to shoot
        == #{link_to 'rifles', '/tour#riflery'},
        == #{link_to 'shotguns', '/tour#skeet'}
        == and the classic #{link_to 'bow and arrow', '/tour#archery'}.
        We will also teach you fly-fishing and fly-tying skills, and then how to build the fire
        to cook your catch, and how to build a shelter to sleep in at night.
        Come on and become a woodsman.
    .col-sm-7
      = vimeo 31705740

  %hr#riflery

  .row
    .col-sm-12
      %h2 Riflery
  .row
    .col-sm-5.tour-description
      %p
        Our rifle range is cool and comfortable; a great place to learn how
        to shoot or work on your technique. Shoot for qualifications
        and see if you can score that perfect 50.
    .col-sm-7
      = vimeo 31705755

  %hr#sailing

  .row
    .col-sm-12
      %h2 Sailing
  .row
    .col-sm-5.tour-description
      %p
        We have a total of 17 sailboats including sunfish, catamarans, dingies, Hobie-cats,
        and puffers to name a few. With instruction and as much as four hours a day on the lake,
        you will have the opportunity to unleash your inner pirate.
    .col-sm-7
      = vimeo 32744737

  %hr#skeet

  .row
    .col-sm-12
      %h2 Skeet
  .row
    .col-sm-5.tour-description
      %p
        Come on down to shoot some pigeons with shotguns. Clay pigeons, of course,
        but you still learn how to shoot and handle a shotgun properly. <em>Trapper ready? Pull!</em>
    .col-sm-7
      = vimeo 34306609

  %hr#sports

  .row
    .col-sm-12
      %h2 Sports
  .row
    .col-sm-5.tour-description
      %p
        When it comes to sports, we&rsquo;re not aiming to make you into the next
        Michael Jordan or Ronaldo; we just want you to have a ton of fun
        playing lacrosse, street hockey, or one of a dozen other sports offered,
        while learning something new about it at the same time. Everybody gets
        to play here, so if you&rsquo;re looking to learn more about a sport you&rsquo;ve
        never played before or if you&rsquo;re a seasoned pro you will have fun and,
        hopefully learn something new.
    .col-sm-7
      = vimeo 32744798

  %hr#soccer

  .row
    .col-sm-12
      %h2 Soccer
  .row
    .col-sm-5.tour-description
      %p
        We&rsquo;re ready to help you learn all about the world&rsquo;s favorite sport.
        With a round of World Cup or a game against another camp, you&rsquo;ll
        have every chance you want to work on your game. Take a run out
        onto the pitch; we&rsquo;ll be right beside you.
    .col-sm-7
      = vimeo 32744751

  %hr#street-hockey

  .row
    .col-sm-12
      %h2 Street Hockey
  .row
    .col-sm-5.tour-description
      %p
        Take a slap shot, play a scrimmage, practice your passing: at our top-notch
        Street Hockey court, you can do it all. We&rsquo;ll teach you anything you want to
        know about the fast-paced game of Street Hockey, no matter what your previous skill level;
        so shoot away, you can&rsquo;t miss!
    .col-sm-7
      = vimeo 32744962

  %hr#swimming

  .row
    .col-sm-12
      %h2 Swimming
  .row
    .col-sm-5.tour-description
      %p
        We&rsquo;ll help you work on your strokes every morning down at the waterfront,
        overseen by our Red Cross certified instructors. During free swim, in the afternoon,
        you&rsquo;re free to float around in tubes, splash about, or even go down our twelve-foot waterslide!
    .col-sm-7
      = vimeo 32744982

  %hr#tennis

  .row
    .col-sm-12
      %h2 Tennis
  .row
    .col-sm-5.tour-description
      %p
        Our tennis courts are a great place to work on your serve, practice volleys at the net,
        or just play a round of King of the Court. We&rsquo;ve got a brand new wall to practice
        rallying by yourself, and, if you want, we can bring out the Pickleball for a whole different type of game.
    .col-sm-7
      = vimeo 32745011

  %hr#volleyball

  .row
    .col-sm-12
      %h2 Volleyball
  .row
    .col-sm-5.tour-description
      %p
        Never played before? No problem: we&rsquo;ll have you digging and spiking in no time.
        Our sand volleyball courts keep the impact low and the spirit high &mdash; so serve
        it up, we&rsquo;re always ready to volley.
    .col-sm-7
      = vimeo 32745061

  %hr#waterfront

  .row
    .col-sm-12
      %h2 Waterfront
  .row
    .col-sm-5.tour-description
      %p
        Our Waterfront has a half-mile of frontage on quiet Lower Beech Pond.
        We have a fleet of sailboats, canoes, kayaks and rowboats, a competition water-ski boat,
        a top-quality swimming area, fishing equipment and a volleyball court for those taking a break from the water.
    .col-sm-7
      = vimeo 32745079

  %hr#waterskiing

  .row
    .col-sm-12
      %h2 Waterskiing
  .row
    .col-sm-5.tour-description
      %p
        Come learn to water-ski, or work on your slalom technique behind our new Malibu
        competition water-ski boat &mdash; and watch out for the wake!
    .col-sm-7
      = vimeo 32745105

  %hr#wilderness-skills

  .row
    .col-sm-12
      %h2 Wilderness Skills
  .row
    .col-sm-5.tour-description
      %p
        Want to learn how to survive in the wild? We&rsquo;ll teach you how to build
        a fire and start it with flint and steel, and how to identify plants and animals.
        You can even build a shelter out of branches and leaves to stay in overnight.
        Making s&rsquo;mores outside a shelter you built yourself? What could be better!
    .col-sm-7
      = vimeo 31705740

  %hr#wilderness-trips

  .row
    .col-sm-12
      %h2 Wilderness Trips
  .row
    .col-sm-5.tour-description
      %p
        Our tripping program is run out of our outcamping building
        which holds all the necessary equipment to run successful forays into the outdoors.
        We pride ourselves on our vast tripping program, boasting as many as nine trips
        a session consisting of both hiking and canoeing trips.
    .col-sm-7
      = vimeo 33133362

  %hr#woodworking

  .row
    .col-sm-12
      %h2 Woodworking
  .row
    .col-sm-5.tour-description
      %p
        Our well-stocked woodworking shop has enough material for anyone to
        undertake a reasonable project and the expertise to help you along
        the way in making your wooden masterpiece.
    .col-sm-7
      = vimeo 33133431
