---
title: "Sports Summer Camp for Street Hockey, Soccer, Baseball, Basketball, Tennis and Lacrosse"
---

.grid_6
  .liner.shadow.rounded
    %h2 Sports

    %p
      When it comes to sports, we&rsquo;re not aiming to make you into the next
      Michael Jordan or Ronaldo; we just want you to have a ton of fun
      playing lacrosse, street hockey, or one of a dozen other sports offered,
      while learning something new about it at the same time. Everybody gets
      to play here, so if you&rsquo;re looking to learn more about a sport you&rsquo;ve
      never played before or if you&rsquo;re a seasoned pro you will have fun and,
      hopefully learn something new.

  .shadow.rounded.video= vimeo 31092949, 456

  .liner.shadow.rounded
    %h2 Street Hockey

    %p
      Take a slap shot, play a scrimmage, practice your passing: at our top-notch
      Street Hockey court, you can do it all. We&rsquo;ll teach you anything you want to
      know about the fast-paced game of Street Hockey, no matter what your previous skill level;
      so shoot away, you can&rsquo;t miss!

  .shadow.rounded.video= vimeo 32745011, 456

  .liner.shadow.rounded
    %h2 Baseball

    %p
      We&rsquo;ve got two basketball courts to play on; after flag lowering, there&rsquo;s usually
      == a huge game of Knockout on the #{link_to 'Knoll', '/tour/knoll.html'}.
      We&rsquo;ll be more than happy to teach you anything
      you want to know, or just jump into a pickup game.

  .shadow.rounded.video= vimeo 31702778, 456

  .liner.shadow.rounded
    %h2 Volleyball

    %p
      Never played before? No problem: we&rsquo;ll have you digging and spiking in no time.
      Our sand volleyball courts keep the impact low and the spirit high &mdash; so serve
      it up, we&rsquo;re always ready to volley.

  .shadow.rounded.video= vimeo 32744751, 456

  .liner.shadow.rounded
    %h2 International Sports

    %p
      Every played Touch Rugby before? How about Cricket? If not, then here&rsquo;s your opportunity.
      == Our international #{link_to 'staff', '/parents/our-staff.html'} are ready and waiting
      to teach you games that we play on this side of the pond &mdash;
      you may find you&rsquo;ve been missing out.

.grid_6
  .shadow.rounded.video= vimeo 32744798, 456

  .liner.shadow.rounded
    %h2 Arena Soccer

    %p
      Our brand new arena soccer court is home to our unique arena soccer program.
      Offered as an instructional class, the focus is to use tight ball handling skills
      and the arena walls themselves to best the other team.

  .shadow.rounded.video= vimeo 32744962, 456

  .liner.shadow.rounded
    %h2 Tennis

    %p
      Our tennis courts are a great place to work on your serve, practice volleys at the net,
      or just play a round of King of the Court. We&rsquo;ve got a brand new wall to practice
      rallying by yourself, and, if you want, we can bring out the Pickleball for a whole different type of game.

  .shadow.rounded.video= vimeo 31093270, 456

  .liner.shadow.rounded
    %h2 Lacrosse

    %p
      Even if you have never touched a stick before, our instructors have the
      experience to get you passing, shooting, and defending in no time at all.
      In just a single afternoon you will have already learned the basics and
      moved on to more important things: having fun!

  .shadow.rounded.video= vimeo 32745061, 456

  .liner.shadow.rounded
    %h2 Soccer

    %p
      We&rsquo;re ready to help you learn all about the world&rsquo;s favorite sport.
      With a round of World Cup or a game against another camp, you&rsquo;ll
      have every chance you want to work on your game. Take a run out
      onto the pitch; we&rsquo;ll be right beside you.

  .shadow.rounded.video= vimeo 31702746, 456
