---
title: "100 Years of Happy Campers | William Lawrence Camp"
description: "William Lawrence Camp has a wonderfully rich history.  We provide access to the camp's yearly plaques that list all the campers and staff there for the summer."
---

%style
  td { text-align: right }
  \.win, .loss, .tie { text-align: center }
  \.win { color: green }
  \.loss { color: red }
  \.tie { color: gray }

.grid_12
  .liner.shadow.rounded
    %h2 Plaques

    %ul
      %li= link_to "1926 - 1939", "http://dl.dropbox.com/u/30260739/WLC%20Plaques/1926-1939.pdf"
      %li= link_to "1940 - 1949", "http://dl.dropbox.com/u/30260739/WLC%20Plaques/1940-1949.pdf"
      %li= link_to "1950 - 1959", "http://dl.dropbox.com/u/30260739/WLC%20Plaques/1950-1959.pdf"
      %li= link_to "1960 - 1968", "http://dl.dropbox.com/u/30260739/WLC%20Plaques/1960-1968.pdf"
      %li= link_to "1970 - 1972", "http://dl.dropbox.com/u/30260739/WLC%20Plaques/1970-1972.pdf"
      %li= link_to "1974 - 1979", "http://dl.dropbox.com/u/30260739/WLC%20Plaques/1974-1979.pdf"
      %li= link_to "1980 - 1989", "http://dl.dropbox.com/u/30260739/WLC%20Plaques/1980-1989.pdf"
      %li= link_to "1990 - 1999", "http://dl.dropbox.com/u/30260739/WLC%20Plaques/1990-1999.pdf"
      %li= link_to "2000 - 2003", "http://dl.dropbox.com/u/30260739/WLC%20Plaques/2000-2003.pdf"
