.container_12
  .grid_2== &raquo; #{link_to_unless_current 'Calendar', '/news/calendar.html', target: :blank}
  .grid_2== &raquo; #{link_to 'Facebook', 'http://facebook.com/williamlawrencecamp', target: :blank}
  .grid_2== &raquo; #{link_to 'Knoll News', 'http://wlcamp.posterous.com', target: :blank}
  .grid_2== &raquo; #{link_to 'Twitter', 'http://twitter.com/#!/wlcamp', target: :blank}
  .grid_2== &raquo; #{link_to 'YouTube', 'http://www.youtube.com/user/WilliamLawrenceCamp', target: :blank}
