.container_12
  .grid_2== &raquo; #{link_to_unless_current 'Calendar', '/news/calendar.html'}
  .grid_2== &raquo; #{link_to 'Photo Gallery', 'https://picasaweb.google.com/101625798794361011934?noredirect=1'}
  .grid_2== &raquo; #{link_to 'Facebook', 'http://facebook.com/williamlawrencecamp', target: :blank}
  .grid_2== &raquo; #{link_to 'Google+', 'https://plus.google.com/103058120108267752423/about', target: :blank}
  .grid_2== &raquo; #{link_to 'Twitter', 'http://twitter.com/#!/wlcamp', target: :blank}
  .grid_2== &raquo; #{link_to 'YouTube', 'http://www.youtube.com/user/WilliamLawrenceCamp', target: :blank}
  
  
