%ul.subnavigation
  %li= link_to_unless_current 'History', '/tradition/history.html'
  %li= link_to_unless_current 'Trustees', '/tradition/trustees.html'
  %li= link_to_unless_current 'Values', '/tradition/values.html'
  %li= link_to_unless_current 'Braves', '/tradition/braves.html'
  %li= link_to_unless_current 'Songs', '/tradition/songs.html'
