.container_12
  .grid_2== &raquo; #{link_to_unless_current 'Braves', '/tradition/braves.html'}
  .grid_2== &raquo; #{link_to_unless_current 'History', '/tradition/history.html'}
  .grid_2== &raquo; #{link_to_unless_current 'Our Mission', '/tradition/mission-statement.html'}
  .grid_2== &raquo; #{link_to_unless_current 'Songs', '/tradition/songs.html'}
  .grid_2== &raquo; #{link_to_unless_current 'Trustees', '/tradition/trustees.html'}
  .grid_2== &raquo; #{link_to_unless_current 'Values', '/tradition/values.html'}
