---
title: "Centennial"
description: "On the Labor Day Weekend, 2013, the family of William Lawrence Camp celebrated our 100th season.  We completed our beautiful Centennial Lodge and refurbished the camps Barn by using the generous donations from our friends and alumni."
---

%h1.page-heading.amatic
  = current_page.data.title

.liner.shadow.rounded
  .row
    .col-sm-12
      %h2 Centennial Celebration
    .col-sm-6
      %p
        The WLC Centennial Celebration went off without a hitch on Labor Day Weekend, 2013.
        Over 350 guests and staff gathered on the #{link_to 'Knoll', '/tour#knoll'} for the three-day reunion that showcased
        the #{link_to 'Centennial Lodge', '/tour#centennial-lodge'}, the refurbished #{link_to 'Barn', '/tour#barn'}, and a
        chance for guests to participate in their favorite activities and reminisce about their time at camp.
    .col-sm-6
      %img.rounded{ src: 'images/centennial-stage.jpg', alt: "Centennial hall stage during ribbon cutting ceremony" }

  %hr

  .row
    .col-sm-12
      %h2 Festivities
  .row
    .col-sm-6
      %p
        The goal of the Centennial Weekend was not only to celebrate the completion of the improvements
        around camp, but to give alumni a chance to reunite, share stories across generations, enjoy their
        favorite activities, and revel in the camp spirit.
    .col-sm-6
      %img.rounded{ src: 'images/centennial-deck.jpg', alt: "Centennial Hall Deck during celebration"  }

  %hr

  .row
    .col-sm-12
      %h2 New Centennial Lodge
  .row
    .col-sm-6
      %p
        Thanks to the generosity of alumni and friends of the camp, the #{link_to 'Centennial Lodge', '/tour#centennial-lodge'}
        was built in time for the Celebration.  The main hall has already become an important activity area.
        We are still raising funds to finish the
        basement to provide new areas for weight lifting, fly tying, and arts and crafts.
      %p
        #{link_to "Make a Donation", "charitable-giving.html", class: 'btn btn-primary'}
    .col-sm-6
      %img.rounded{ src: 'images/centennial-lodge.jpg', alt: "Interior of the Centennial Lodge" }

  %hr

  .row
    .col-sm-12
      %h2 Refurbished Barn
  .row
    .col-sm-6
      %p
        Because of the generous response to our fund raising, the Board of Trustees decided to expand
        their initial goal to fund a much needed rehabilitation project for the beloved #{link_to 'Barn', '/tour#barn'}.
        No longer are seniors able to break the floor during their bi-annual dance.
    .col-sm-6
      %img.rounded{ src: 'images/barn-exterior.jpg', alt: "Barn during final stages of construction" }
