.container_12
  .grid_3== &raquo; #{link_to_unless_current 'Camper Care', '/parents/camper-care.html'}
  .grid_3== &raquo; #{link_to_unless_current 'Family Camp', '/parents/family-camp.html'}
  .grid_3== &raquo; #{link_to_unless_current 'Forms', '/parents/forms.html'}
  .grid_3== &raquo; #{link_to_unless_current 'Our Staff', '/parents/our-staff.html'}
  .grid_3== &raquo; #{link_to_unless_current 'Sessions &amp; Tuition', '/parents/sessions-tuitions-2012.html'}
  .grid_3== &raquo; #{link_to_unless_current 'Why WLC?', '/parents/why-wlc.html'}
