.container_12
  .grid_2= link_to_unless_current 'Why WLC?', '/parents/why-wlc.html'
  .grid_2= link_to_unless_current 'Our Staff', '/parents/our-staff.html'
  .grid_2= link_to_unless_current 'Camper Care', '/parents/camper-care.html'
  .grid_2= link_to_unless_current 'Sessions & Tuition', '/parents/sessions-tuitions-2012.html'
  .grid_2= link_to_unless_current 'Forms', '/parents/forms.html'
  .grid_2= link_to_unless_current 'Family Camp', '/parents/family-camp.html'
