.container_12
  .grid_3== &raquo; #{link_to_unless_current 'Camper Care', '/parents/camper-care.html'}
  .grid_3== &raquo; #{link_to_unless_current 'Forms', '/parents/forms.html'}
  .grid_3== &raquo; #{link_to_unless_current 'Our Staff', '/parents/our-staff.html'}
  .grid_3== &raquo; #{link_to_unless_current 'Sessions &amp; Tuition', '/parents/sessions-tuitions-2014.html'}
  .grid_3== &raquo; #{link_to 'Store', 'http://www.amerasport.com/WILLIAM-LAWERENCE/departments/24/', target: :blank}
  .grid_3== &raquo; #{link_to_unless_current 'Why WLC?', '/parents/why-wlc.html'}
  .grid_3== &raquo; #{link_to_unless_current 'Testimonials', '/parents/testimonials.html'}
  .grid_3== &raquo; #{link_to_unless_current 'Girls Camps?', '/parents/girls-camp.html'}
