---
title: "Enrollment Information"
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire. All the important forms required to apply and ensure that your child can have the best possible summer."
---

%h1.page-heading.amatic
  = current_page.data.title

.row
  .col-md-6
    .liner.shadow.rounded
      %h2 Camper Forms

      %p
        <em>All</em> forms below must be completed and received by us <em>by May 1st</em> to ensure that your son can attend Camp.
        The Camper Health History form is especially important.

      %ul
        %li= link_to 'Camper Enrollment Application', '/enroll.html', target: :blank
        %li= link_to 'Camper Enrollment Application (Paper Version)', 'https://www.dropbox.com/s/ce889spflrq7uxp/Enrollment%20application.pdf?dl=1', target: :blank
        %li= link_to 'Parent Confidential', 'https://www.dropbox.com/s/ngvt5gu4bajdj2v/Parent%20Confidential.pdf?dl=1', target: :blank
        %li= link_to 'Camper Health History', 'https://www.dropbox.com/s/08hhtadu7zenzp6/HealthHistoryandExaminationForm.pdf?dl=1', target: :blank
        %li= link_to 'Camper Health Insurance', 'https://www.dropbox.com/s/cp3a1eh2yus1tpi/Camper%20Health%20Insurance%20Form.pdf?dl=1', target: :blank
        %li= link_to 'Camper Confidential - Letter to Cabin Leader', 'https://www.dropbox.com/s/yyi0jm22cn44fg3/Camper%20Confidential-Ltr%20to%20Cabin%20Leader.pdf?dl=1', target: :blank
        %li
          = link_to 'Epi-pen & Inhaler Authorization', 'https://www.dropbox.com/s/q3r7o209s2hdio9/Epi-pen-Inhaler%20Authorization.pdf?dl=1', target: :blank
          (if needed)
        %li= link_to 'Huggins Treatment Permission Form', 'https://www.dropbox.com/s/jls5zheovmwmd2z/Huggins_treatment_permission_form.pdf?dl=1', target: :blank
        %li= link_to 'Parent Checklist', 'https://www.dropbox.com/s/egg9o1r4t1lvcue/Parent%20Checklist.pdf?dl=1', target: :blank

    .liner.shadow.rounded
      %h2 Important Information

      %p Below are several documents that convey important information about your son's summer here at camp.  It is important that you review them carefully <em>prior</em> to attending camp.

      %ul
        %li= link_to 'Store Catalogue', 'https://www.dropbox.com/s/og87y9lh8mnulpv/store-catalog.pdf?dl=1', target: :blank
        %li= link_to 'Camper Behavior & Responsibilities', 'https://www.dropbox.com/s/gmjqq01nldxjxm3/Behavior%20Contract-Responsibilities.pdf?dl=1', target: :blank
        %li= link_to 'What to Bring', 'https://www.dropbox.com/s/qrqr9z0ieyr2q2i/What%20to%20Bring.pdf?dl=1', target: :blank
        %li= link_to 'Things You Need to Know', 'https://www.dropbox.com/s/gbvqgez4efjdyk9/Things%20You%20Need%20to%20Know.pdf?dl=1', target: :blank
        %li= link_to 'Letter to Parents from Nathaniel S. Crane, Executive Director', 'https://www.dropbox.com/s/t73gxftoztvy9ng/Parent%20Letter.pdf?dl=1', target: :blank
        %li= link_to 'Parent Guide', 'https://www.dropbox.com/s/g5v986ycqaj7e6z/Parents%27%20Guide.pdf?dl=1', target: :blank

      %p
        Do you have any questions? Not a problem, give our friendly staff a call at our camp office.
        We are happy to walk you through the process. Just call 603-569-3698.

  .col-md-6
    .liner.shadow.rounded
      %h2 Bob Ditter

      %p
        Bob Ditter is a child and family therapist from Boston, MA, who works extensively
        with people who work with children. He visits summer camps throughout the United States,
        helping them be the best place possible for children. We post these four articles by Bob,
        with his permission, for your consideration:

      %ul
        %li= link_to 'A Special Note Regarding Personal Information About Your Child', '/downloads/forms/bob-ditter/special-issues.pdf', target: :blank
        %li= link_to 'Early Summer Letter to Parents: Camp - Fun, Friendship and Taking Time To Grow', '/downloads/forms/bob-ditter/early-summer-letter-to-parents.pdf', target: :blank
        %li= link_to 'Talking with Your Children About Sensitive Issues', '/downloads/forms/bob-ditter/sensitve-issues.pdf', target: :blank
        %li= link_to 'The Other Duffel Bag - Talking with Your Child about their First Time at Camp', '/downloads/forms/bob-ditter/the-other-duffle-bag.pdf', target: :blank

      = mail_to 'BobDitter1@aol.com', 'Email Bob Ditter', class: 'btn btn-primary'
