---
title: "Why WLC is the perfect overnight summer camp for your boy | William Lawrence Camp"
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire. Why would you choose to send your child to William Lawrence Camp?  We are a not for profit, have a varied and high quality program, and have an amazing camper to staff ratio."
---

.row
  .col-sm-6
    .shadow.rounded.embed-responsive.embed-responsive.embed-responsive-4by3.video= vimeo 33133327, 5
  .col-sm-6
    .liner.shadow.rounded
      %h2 Why William Lawrence Camp?

      %p
        William Lawrence Camp is an independent, not-for-profit organization;
        our entire focus is on providing an extraordinary experience for your child
        that will benefit him for years to come. We believe that the best way for boys
        to learn is through being active, especially while surrounded by natural beauty.
        Our well-balanced program offers instruction in diverse activities, such as
        == #{link_to 'Archery', '/tour/archery.html'}, #{link_to 'waterskiing', '/tour/waterfront.html'},
        == and #{link_to 'Wilderness Trips', '/tour/wilderness-trips.html'}, that your child
        would likely not be able to participate in at home. And, as a small camp,
        we do not experience the bottlenecks at popular activities that larger camps
        are rife with: if your child is interested in an activity, they will be able to do it.
        == As well, our better than #{link_to '3-to-1 camper to staff ratio', '/parents/our-staff.html'}
        ensures that your child will be well looked after.
      %p
        All capital improvements at William Lawrence are paid for by donations,
        which are tax deductible as we are a 501(c)3. This, among other benefits of being
        a not-for-profit orginixation, means we can provide higher-quality facilities
        without passing
        the cost on in our tuition. When you send your child to William Lawrence Camp,
        you are not merely providing them entertainment for the summer:
        you are introducing them to the William Lawrence Camp Family,
        a supportive community of individuals dedicated to camp and to each other.

      %p
        William Lawrence is a high-quality, reasonably-priced organization that
        prepares boys for their futures as men.

:javascript
  (function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
    }
    _fbq.push(['addPixelId', '459463980868593']);
  })();

  window._fbq = window._fbq || [];
  window._fbq.push(['track', 'PixelInitialized', {}]);

%noscript
  %img{ :height => 1, :width => 1, :style => "display:none", :src => "https://www.facebook.com/tr?id=459463980868593&amp;ev=PixelInitialized" }
