
.row
  .col-md-4
    .liner.shadow.rounded
      %h2 Parents
      %p
        At our boys overnight summer camp, your son can learn new skills, develop self-confidence
        and make friends that last a lifetime.
      %ul
        %li= link_to "Camper Care", "/parents/camper-care.html"
        %li= link_to "Dates and Rates", "/parents/dates-rates.html"
        %li= link_to "Why WLC?", "/parents/why-wlc.html"
        %li= link_to "Enrollment information", "/parents/enrollment-information.html"
        %li= link_to "Stay Informed", "/connect/mailing-list.html"

  .col-md-4
    .liner.shadow.rounded
      %h2 Campers
      %p
        Our summer camp remains committed to providing boys with fun activities while giving them a chance to learn some new skills.
      %ul
        %li= link_to "Typical Day", "/campers/typical-day.html"
        %li= link_to "Free Swim", "/campers/free-swim.html"
        %li= link_to "Special Programs", "/campers/special-programs.html"
        %li= link_to "Evening Program", "/campers/evening-program.html"

  .col-md-4
    .liner.shadow.rounded
      %h2 Staff
      %p
        Our #{link_to "overnight summer camp staff", "/parents/our-staff.html"} is
        dedicated to the safety, well-being, and positive growth of today’s youth.
      %ul
        %li= link_to "Our Staff", "/parents/our-staff.html"
        %li= link_to "Work at WLC", "/staff.html"
        %li= link_to "Mailing list", "/mailing-list.html"
      %br
