.container_12
  .grid_2== &raquo; #{link_to_unless_current 'Camp Spirit', '/campers/camp-spirit.html'}
  .grid_2== &raquo; #{link_to_unless_current 'Evening Program', '/campers/evening-program.html'}
  .grid_2== &raquo; #{link_to_unless_current 'Free Swim', '/campers/free-swim.html'}
  .grid_2== &raquo; #{link_to_unless_current 'Special Programs', '/campers/special-programs.html'}
  .grid_2== &raquo; #{link_to_unless_current 'Typical Day', '/campers/typical-day.html'}
