---
title: "Enjoy Our Special Programs and Events | William Lawrence Summer Camp"
description: "At William Lawrence Camp we pride ourselves in the variety of our camps program, some of these events include partial day and day long programs that keep campers excited and engaged."
---

.grid_12
  .liner.shadow.rounded
    %h2 Special Programs

    %p
      Beyond regular program we&rsquo;ve got a whole arsenal of special program days
      and activities to throw at you. Everything from Gold Rush day to leaving camp
      for an evening to see a minor league baseball game. But if you think what
      is here is the limit to our programs, you are luckily mistaken!

.grid_6
  .liner.shadow.rounded
    %h2 Gold Rush &amp; Carnival Night

    %p
      Gold Rush is an afternoon long event that encompasses the entirety of camp
      == in a frantic search for gold. The more gold a #{link_to 'cabin', '/tour/cabins.html'} finds, the more &ldquo;money&rdquo;
      they get to use for carnival night, a huge end-of-session celebration
      ending in a display of fireworks.

  .shadow.rounded.video= vimeo 31705723, 6

  .liner.shadow.rounded
    %h2 Apache Relay

    %p
      At the end of Olympic Day there is a fabled event called the Apache Relay.
      It is a massive, whole camp, relay race that spans every activity area from
      == the #{link_to 'waterfront', '/tour/waterfront.html'} to the
      == #{link_to 'Challenge Course', '/tour/challenge-course.html'} to the
      == #{link_to 'athletic fields', '/tour/sports.html'}.

  .shadow.rounded.video= vimeo 31705696, 6

.grid_6
  %img.shadow.rounded{ src: '/images/campers/special-programs/carnival-night.jpg', height: 308, width: 460, alt: 'gold rush day casino' }

  .liner.shadow.rounded
    %h2 Olympic Day

    %p
      Olympic Day is an entire day set aside for the colors war, called BROG.
      == It has just about every game imaginable from #{link_to 'Riflery', '/tour/riflery-skeet.html'} to fooz ball and
      == #{link_to 'climbing', '/tour/challenge-course.html'} to sand castle building. Every event is worth points for your team
      and bonus points are to be had for spectacular feats or good sportsmanship!

  .shadow.rounded.video= vimeo 34309581, 6

  .liner.shadow.rounded
    %h2 Fisher Cats &amp; Sea Dogs

    %p
      Each session, as a unit, you will get to visit the home field of one of the
      local minor league baseball teams. We often bring a unique (and by unique we mean loud)
      presence to the stadium with our camp spirit.
