---
title: "Typical Day at an Overnight Summer Camp for Boys | William Lawrence Camp"
description: "At William Lawrence Camp, there is no such thing as a truly typical day.  But none the less, here is our normal daily schedule along with what a camper might experience during that time.  You son will get to choose his favorite activities each week to receive instruction in."
---

%style
  \.time { font-weight: bold; width: 100px; vertical-align: top;}
  \.event { width: 150px; vertical-align: top; }
  \.description { padding-bottom: 11px; vertical-align: top;}

.row
  .col-xs-12
    .liner.shadow.rounded
      %h2 Typical Day

      %p
        Everyone&rsquo;s schedule is unique because, every week campers can choose which classes
        they receive instruction in. Below is an example of such a schedule:

      %table
        %tr
          %td.time 7:00 AM
          %td.event Reveille
          %td.description
            Once I heard the bugle, I got out of bed, put on some sweatpants and a sweatshirt.
            == Then I walked out of the #{link_to 'cabin', '/tour/cabins.html'} and headed for the
            == #{link_to 'Dining Hall', '/tour/dining-hall.html'} because today was my day to waiter.
            After I was done setting my table with my bunkmate, I played some ping-pong.
        %tr
          %td.time 7:25 AM
          %td.event Flag Raising &amp; Password
          %td.description
            == When the bugle rang everyone started up the #{link_to 'Knoll', '/tour/knoll.html'}
            and lined up on the colors line. The CQ (charge of quarters) that day was Copp cabin.
            After the flag was raised, we made our way down to the chapel for the day's password which was &ldquo;perserverance.&rdquo;
        %tr
          %td.time 7:35 AM
          %td.event Breakfast
          %td.description
            == We all filed up to the #{link_to 'Dining Hall', '/tour/dining-hall.html'} for breakfast.
            The counselor in charge of calling tables announced the meal:
            &ldquo;This morning we have oatmeal, scrambled eggs, bagels, hash browns, and the breakfast bar!&rdquo;
            As the meal ended I started to help clear the table.
        %tr
          %td.time 8:30 AM
          %td.event Inspection
          %td.description
            During inspection, after I made up my own area, I swept the floor while my cabin-mates
            ==took various other jobs. Within minutes the #{link_to 'cabin', '/tour/cabins.html'}
            was fairly clean but it took us until the bugle to prepare it to be inspected.
        %tr
          %td.time 9:00 AM
          %td.event 1st Period
          %td.description
            == My first period class was the #{link_to 'Challenge Course', '/tour/challenge-course.html'}.
            It was high ropes day and I did the multi-level traverse, one of the harder high ropes elements, successfully.
        %tr
          %td.time 10:05 AM
          %td.event 2nd Period
          %td.description
            == My second period class was #{link_to 'woodworking', '/tour/craft-areas.html'}
            during which I spent quite a bit of time sanding my CD case.
            And since the pieces were just cut yesterday, I had my work cut out for me.
        %tr
          %td.time 11:10 AM
          %td.event 3rd Period
          %td.description
            == For all the middlers, third period is #{link_to 'swimming', '/tour/waterfront.html'}.
            Today we reviewed the front crawl, my favorite stroke!
        %tr
          %td.time 12:15 PM
          %td.event Waiters&rsquo; Call
          %td.description
            == I quickly made my way up the #{link_to 'waterfront', '/tour/waterfront.html'}
            trail to prepare my cabin&rsquo;s table for lunch.
        %tr
          %td.time 12:30 PM
          %td.event Lunch
          %td.description
            Today&rsquo;s lunch was the best! We had rib sandwiches,
            waffle fries, carrots and peas and the salad bar.
            It was fantastic! And to top it all off, we had lemon cake for desert.
        %tr
          %td.time 1:30 PM
          %td.event Siesta
          %td.description
            I took the opportunity to read some more of my book and just relax a
            bit before the afternoon really starts.
        %tr
          %td.time 2:30 PM
          %td.event 4th Period
          %td.description
            == Today I did my 4A class of #{link_to 'street hockey', '/tour/sports.html'}.
            We started with some drills to work on stick handling and then some shooting drills
            and ended with a really fun skirmish. My team even won 3 to 2!
        %tr
          %td.time 4:00 PM
          %td.event Free Swim
          %td.description
            == While I normally am down at the #{link_to 'Archery Range', '/tour/archery.html'}
            == working on a qualification or down at the #{link_to 'Waterfront', '/tour/waterfront.html'}
            on a hot day, I decided to take it slow today and organized a game of Risk with 5 of my friends.
        %tr
          %td.time 6:00 PM
          %td.event Dinner
          %td.description
            Tonight for dinner it was pizza night! The camp cook makes the best pizza ever.
            I ended up eating 4 pieces along with a bowl of salad. Dessert was chocolate pudding.
            After my counselor dished out the pudding ,the bell rang and there was a pudding eating
            contest between two of the kitchen staff.
        %tr
          %td.time 7:00 PM
          %td.event Flag Lowering
          %td.description
            After flag lowering we have about half an hour before evening program.
            == I decided to skip the #{link_to 'volleyball game', '/tour/sports.html'}
            == and joined in the impromptu game of frisbee going on in the middle of the #{link_to 'Knoll', '/tour/knoll.html'}.
        %tr
          %td.time 7:30 PM
          %td.event Evening Program
          %td.description
            The Middlers played camp-wide capture the flag. It encompassed over three acres of the camp
            including both the Junior and Middler units. I almost made it back with the other team's flag
            more than once but as the game went on I decided to be more of a defensive player.
        %tr
          %td.time 9:00 PM
          %td.event End of Evening Program
          %td.description
            == After singing #{link_to '&ldquo;Day is Done&rdquo;', '/tradition/songs.html'}, it was time for showers.
            My cabin was called second.
        %tr
          %td.time 9:30 PM
          %td.event Taps
          %td.description
            As Taps rang, I shut off my flashlight for the last time that day.
            I got into my bed exhausted but ready to do it all again the next day!

      %p
        We would like to thank three campers who wrote a journal of their days here which was
        then edited into the above schedule. Thank you Matt Cobb, Geoff Erickson, and Will Silverman.
