---
title: "William Lawrence Camp is a boys summer camp in New Hampshire."
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire.  William Lawrence Camp is a wonderful place for boys to learn and grow in a fun and exciting environment.  Boys can participate in traditional camp activities such as sports, projects, hiking and canoeing trips, sailing, waterskiing, hiking, climbing, swimming, kayaking, archery, shooting, and just having fun."
---

.grid_6
  .liner.shadow.rounded
    %h2 OOPS!  We can't seem to find the page you requested
    %p
      We are really sorry about this, but we can't find the webpage 
      you are trying to get to.  Here is a link to our 
      #{link_to 'Home Page', '/'}, 
      #{link_to 'Sessions and Tuition', '/parents/sessions-tuitions-2014.html'}, 
      #{link_to 'Archery Program', '/tour/archery.html'}, 
      #{link_to 'Outdoorsman Skills', '/tour/outdoorsman-skills.html'}, 
      #{link_to 'Camp Spirit', '/campers/camp-spirit.html'}, 
      and our large list of #{link_to 'Camp Chants', '/tradition/songs.html'}.
      

