---
title: "William Lawrence Camp | Traditional Boys Overnight Summer Camp in New Hampshire."
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire.  William Lawrence Summer Camp is a wonderful place for boys to learn and grow in a fun and exciting environment.  Boys can participate in traditional camp activities such as sports, projects, hiking and canoeing trips, sailing, waterskiing, climbing, swimming, kayaking, archery, shooting, and just having fun."
---

.container_12
.grid_12.tagline-and-countdown
  .tagline.permanent-marker Do Something This Summer!
  .countdown.permanent-marker= javascript_include_tag '/javascripts/libs/countdown'

.container_12
  .grid_6.intro
    .liner.shadow.rounded
      %p
        At our traditional overnight summer camp, we believe that the best way for boys to
        learn and build self-confidence is through being active, having fun, making friends, and participating in their favorite activities.
      
      %p
        Our traditional camp program offers instruction in a variety of activities
        such as #{link_to "traditional sports", "/tour/sports.html"},
        #{link_to "archery", "/tour/archery.html"},
        #{link_to "climbing", "/tour/challenge-course.html"}, and
        #{link_to "wilderness trips", "/tour/wilderness-trips.html"},
        just to name a few!
      
      %p
        With over 100 years of experience and 
        #{link_to "expertly trained traditional camp staff", "/parents/our-staff.html"},
        you can feel confident that your boy will have a summer
        which he will remember for the rest of his life &mdash; full of fun, friendship and new skills!
      
  .grid_6
    .do-something
      .play
        %ul.somethings.permanent-marker
          %li.canoe-a-river Canoe a River
          %li.climb-a-wall Climb a Wall
          %li.hike-a-mountain Hike a Mountain
          %li.work-with-wood Work with Wood
          %li.sing-a-song Sing a Song
          %li.yell-a-chant Yell a Chant
          %li.play-a-game Play a Game
          %li.run-a-race Run a Race
          %li.build-a-fire Build a Fire
          %li.swing-a-bat Swing a Bat
          %li.kick-a-ball Kick a Ball
          %li.shoot-some-hoops Shoot Some Hoops
          %li.fire-at-a-target Fire at a Target
          %li.jump-in-a-lake Jump in a Lake
          %li.waterski Waterski
          %li.sail-a-boat Sail a Boat
          %li.conquer-your-fear Conquer Your Fear
          %li.make-a-friend Make a Friend
          %li.defeat-an-obstacle Defeat an Obstacle
          %li.solve-a-problem Solve a Problem
          %li.earn-an-award Earn a Award
          %li.have-some-fun Have Some Fun
          %li.join-a-team Join a Team
          %li.build-something Build Something
          %li.discover-something Discover Something
          %li.win-something Win Something
      .slideshow
        %img.rounded.shadow{ src: '/images/home/canoe-a-river.jpg', alt: 'canoe-a-river', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/climb-a-wall.jpg', alt: 'climb-a-wall', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/hike-a-mountain.jpg', alt: 'hike-a-mountain', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/work-with-wood.jpg', alt: 'work-with-wood', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/sing-a-song.jpg', alt: 'sing-a-song', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/yell-a-chant.jpg', alt: 'yell-a-chant', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/play-a-game.jpg', alt: 'play-a-game', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/run-a-race.jpg', alt: 'run-a-race', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/build-a-fire.jpg', alt: 'build-a-fire', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/swing-a-bat.jpg', alt: 'swing-a-bat', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/kick-a-ball.jpg', alt: 'kick-a-ball', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/shoot-some-hoops.jpg', alt: 'shoot-some-hoops', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/fire-at-a-target.jpg', alt: 'fire-at-a-target', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/jump-in-a-lake.jpg', alt: 'jump-in-a-lake', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/waterski.jpg', alt: 'waterski', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/sail-a-boat.jpg', alt: 'sail-a-boat', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/conquer-your-fear.jpg', alt: 'conquer-your-fear', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/make-a-friend.jpg', alt: 'make-a-friend', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/defeat-an-obstacle.jpg', alt: 'defeat-an-obstacle', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/solve-a-problem.jpg', alt: 'solve-a-problem', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/earn-an-award.jpg', alt: 'earn-an-award', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/have-some-fun.jpg', alt: 'have-some-fun', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/join-a-team.jpg', alt: 'join-a-team', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/build-something.jpg', alt: 'build-something', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/discover-something.jpg', alt: 'discover-something', width: 460, height: 330 }
        %img.rounded.shadow{ src: '/images/home/win-something.jpg', alt: 'win-something', width: 460, height: 330 }
      .shadow.rounded.video

.grid_4
  .liner.shadow.rounded
    %h2 Parents
    %p
      At our boys overnight summer camp, your son can learn new skills, develop self-confidence
      and make friends that last a lifetime.
    %ul
      %li= link_to "Camper Care", "/parents/camper-care.html"
      %li= link_to "Sessions & Tuition", "/parents/sessions-tuitions-2014.html"
      %li= link_to "Why WLC?", "/parents/why-wlc.html"
      %li= link_to "Forms", "/parents/forms.html"

.grid_4
  .liner.shadow.rounded
    %h2 Campers
    %p
      Our summer camp remains committed to providing boys with fun activities while giving them a chance to learn some new skills.
    %ul
      %li= link_to "Typical Day", "/campers/typical-day.html"
      %li= link_to "Free Swim", "/campers/free-swim.html"
      %li= link_to "Special Programs", "/campers/special-programs.html"
      %li= link_to "Evening Program", "/campers/evening-program.html"

.grid_4
  .liner.shadow.rounded
    %h2 Staff
    %p
      Our #{link_to "overnight summer camp staff", "/parents/our-staff.html"} is
      dedicated to the safety, well-being, and positive growth of today’s youth.
    %ul
      %li= link_to "Our Staff", "/parents/our-staff.html"
      %li= link_to "Work at WLC", "/staff.html"
    %br

- content_for :scripts do
  :javascript
    $(document).ready(function() {
      $(".play").click(function() {
        $(".slideshow, .play").hide();
        $(".do-something .video").show().html('#{vimeo 33915926, 6}');
      })

      $('.slideshow').cycle({ speed: 700, timeout: 4000, before: function() {
        $(".somethings li").hide();
        $(".somethings ." + this.alt).show();
      } });
    })
