---
title: "William Lawrence Camp | Traditional Boys Overnight Summer Camp in New Hampshire."
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire.  William Lawrence Summer Camp is a wonderful place for boys to learn and grow in a fun and exciting environment.  Boys can participate in traditional camp activities such as sports, projects, hiking and canoeing trips, sailing, waterskiing, climbing, swimming, kayaking, archery, shooting, and just having fun."
---

.row.col-xs-12.tagline-and-countdown
  .tagline.permanent-marker Do Something This Summer!
  .countdown.permanent-marker= javascript_include_tag '/javascripts/libs/countdown'

.row
  .col-md-6.col-sm-12.col-xs-12
    .liner.shadow.rounded
      %p
        At our traditional overnight summer camp, we believe that the best way for boys to
        learn and build self-confidence is through being active, having fun, making friends, and participating in their favorite activities.

      %p
        Our traditional camp program offers instruction in a variety of activities
        such as #{link_to "traditional sports", "/tour/sports.html"},
        #{link_to "archery", "/tour/archery.html"},
        #{link_to "climbing", "/tour/challenge-course.html"}, and
        #{link_to "wilderness trips", "/tour/wilderness-trips.html"},
        just to name a few!

      %p
        With over 100 years of experience and
        #{link_to "expertly trained traditional camp staff", "/parents/our-staff.html"},
        you can feel confident that your boy will have a summer
        which he will remember for the rest of his life &mdash; full of fun, friendship and new skills!

  .col-md-6.col-sm-12.col-xs-12
    .do-something
      .col-xs-12
        .carousel.slide{:id=>"slide-images", :data => {:ride => "carousel"}}
          .carousel-inner
            .item.active
              %img{ src: '/images/home/canoe-a-river.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Canoe a River
            .item
              %img{ src: '/images/home/climb-a-wall.jpg' }
              .container
                .carousel-caption.carasol-iner
                  %h4 Climb a Wall
            .item
              %img{ src: '/images/home/hike-a-mountain.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Hike a Mountain
            .item
              %img{ src: '/images/home/work-with-wood.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Work with Wood
            .item
              %img{ src: '/images/home/sing-a-song.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Sing a Song
            .item
              %img{ src: '/images/home/yell-a-chant.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Yell a Chant
            .item
              %img{ src: '/images/home/play-a-game.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Play a Game
            .item
              %img{ src: '/images/home/run-a-race.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Run a Race
            .item
              %img{ src: '/images/home/build-a-fire.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Build a Fire
            .item
              %img{ src: '/images/home/swing-a-bat.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Swing a Bat
            .item
              %img{ src: '/images/home/kick-a-ball.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Kick a Ball
            .item
              %img{ src: '/images/home/shoot-some-hoops.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Shoot Some Hoops
            .item
              %img{ src: '/images/home/fire-at-a-target.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Fire at a Target
            .item
              %img{ src: '/images/home/jump-in-a-lake.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Jump in a Lake
            .item
              %img{ src: '/images/home/waterski.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Waterski
            .item
              %img{ src: '/images/home/sail-a-boat.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Sail a Boat
            .item
              %img{ src: '/images/home/conquer-your-fear.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Conquer your Fear
            .item
              %img{ src: '/images/home/make-a-friend.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Make a Friend
            .item
              %img{ src: '/images/home/defeat-an-obstacle.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Defeat an Obstacle
            .item
              %img{ src: '/images/home/solve-a-problem.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Solve a Problem
            .item
              %img{ src: '/images/home/earn-an-award.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Earn an Award
            .item
              %img{ src: '/images/home/have-some-fun.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Have Some Fun
            .item
              %img{ src: '/images/home/join-a-team.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Join a Team
            .item
              %img{ src: '/images/home/build-something.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Build Something
            .item
              %img{ src: '/images/home/discover-something.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Discover Something
            .item
              %img{ src: '/images/home/win-something.jpg'}
              .container
                .carousel-caption.carasol-iner
                  %h4 Win Something
          %a.left.carousel-control{:href => "#slide-images", :data => {:slide => "prev"}}
            %span.glyphicon.glyphicon-chevron-left
          %a.right.carousel-control{:href => "#slide-images", :data => {:slide => "next"}}
            %span.glyphicon.glyphicon-chevron-right{:color => "white"}
      //.shadow.rounded.embed-responsive.embed-responsive.embed-responsive-4by3.video= vimeo 33915926, 6

= partial "./shared/trifecta"

