!!! 5
%html
  %head
    %link{ :href => 'http://fonts.googleapis.com/css?family=Bitter:400italic,400,700|Permanent+Marker', :rel => 'stylesheet', :type => 'text/css' }/

    %meta{ :charset => "utf-8" }/

    %title
    %meta{ :name => "description", :content => "" }/
    %meta{ :name => "author", :content => "" }/

    - background = request.path.gsub('.html', '.jpg')
    %meta{ :name => "background", :content => "/images/backgrounds/#{File.exists?('source/images/backgrounds/' + background) ? background : 'default.jpg'}" }

    -# CSS: implied media="all"
    %link{ :href => "/stylesheets/reset.css?v=1", :media => "all", :rel => "stylesheet" }/
    %link{ :href => "/stylesheets/grid.css?v=1", :media => "all", :rel => "stylesheet" }/
    %link{ :href => "/stylesheets/custom.css?v=1", :media => "all", :rel => "stylesheet" }/

    %script{ :src => '/javascripts/libs/modernizr-2.0.6.custom.min.js' }

    <!--[if !IE 7]>
    %style{ :type => 'text/css' }
      \#wrap { display:table; height:100%; }
    <![endif]-->
  %body
    #wrap
      #header
        .container_12
          .grid_3
            %h1= link_to 'William Lawrence Camp', '/'
            #centennial
              .banner.sans-serif= link_to 'Celebrating 100 Years!', '/100-years.html'
          .grid_9
            %ul
              %li.menu-item.last{ :'data-name' => 'contact' }= link_to 'Contact', '/contact.html'
              %li.menu-item{ :'data-name' => 'news' } News
              %li.menu-item{ :'data-name' => 'tradition' } Tradition
              %li.menu-item{ :'data-name' => 'alumni' } Alumni
              %li.menu-item{ :'data-name' => 'parents' } Parents
              %li.menu-item{ :'data-name' => 'campers' } Campers
              %li.menu-item{ :'data-name' => 'tour' } Tour
      - ['tour', 'campers', 'parents', 'alumni', 'tradition', 'news'].each do |section|
        .nav{ class: 'subnavigation', id: section }= partial "#{section}/subnavigation"
      #main
        .container_12
          #flash-detect.grid_12
            %p
              Unfortunately to watch our videos you&rsquo;ll need to install Flash.
              = link_to 'Install Flash now.', 'http://get.adobe.com/flashplayer/', target: :blank
          = yield
    #footer
      .container_12
        .grid_12.sans-serif
          .social
            %span.facebook= link_to 'Find us on Facebook', 'http://facebook.com/williamlawrencecamp', target: :blank
            &nbsp;&middot;&nbsp;
            %span.aca= link_to 'Accredited by the American Camp Association', 'http://find.acacamps.org/cgi/details.cgi?id=6119', target: :blank
            &nbsp;&middot;&nbsp;
            %span.youtube= link_to 'Watch us on YouTube', 'http://www.youtube.com/user/WilliamLawrenceCamp', target: :blank
          .avand
            Website lovingly crafted by
            == #{link_to 'Avand Amiri', 'http://avandamiri.com'}, Bill Larry Boy &amp; Brave
          %address{ style: 'display block' } 139 Federal Corner Rd, Ctr Tuftonboro, NH 03816
          .copyright
            &copy; William Lawrence Camp,
            = Time.now.year

    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" }
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" }
    :javascript
      window.jQuery || document.write("<script src='/javascripts/libs/jquery-1.7.1.min.js'>\x3C/script>")
    %script{ :src => '/javascripts/libs/jquery.backstretch.min.js' }
    %script{ :src => '/javascripts/libs/jquery.cycle.lite.js' }
    %script{ :src => '/javascripts/libs/jquery.easing.js' }
    %script{ :src => '/javascripts/libs/flash-detect.min.js' }
    %script{ :src => '/javascripts/custom.js' }

    :javascript
      if (!Modernizr.video && !FlashDetect.installed){
        $("#flash-detect").show()
      }

    = yield_content :scripts
    - if ENV['MIDDLEMAN_ENV'] != 'production'
      %script{ :src => "/javascripts/960gridder.js" }
