!!! 5
%html
  %head
    %link{ :href => 'http://fonts.googleapis.com/css?family=Bitter:400italic,400,700|Permanent+Marker', :rel => 'stylesheet', :type => 'text/css' }/

    %meta{ :charset => "utf-8" }/
    %title= data.page.title
    %meta{ :name => "description", :content => data.page.description }/
    %meta{ :name => "author", :content => "" }/
    %meta{ :name => "keywords", :content => "boys overnight summer camp, summer camp, traditional camp, traditional overnight camp, new hampshire summer camps, new hampshire summer camp, summer camps in new hampshire, summer camp new hampshire, summer camps new hampshire, summer camp in new hampshire, overnight summer camps in new hampshire, new hampshire boy camps, boy camps new hampshire" }/

    - background = request.path.gsub('.html', '.jpg')
    %meta{ :name => "background", :content => "/images/backgrounds/#{File.exists?('source/images/backgrounds/' + background) ? background : 'default.jpg'}" }

    %meta{ :name => "og:type", :content => "website" }
    %meta{ :name => "og:title", :content => data.page.title }
    %meta{ :name => "og:image", :content => "/images/og/logo.jpg" }
    %meta{ :name => "og:site_name", :content => "William Lawrence Camp - Do Something. This Summer!" }

    -# CSS: implied media="all"
    %link{ :href => "/stylesheets/reset.css?v=1", :media => "all", :rel => "stylesheet" }/
    %link{ :href => "/stylesheets/grid.css?v=1", :media => "all", :rel => "stylesheet" }/
    %link{ :href => "/stylesheets/custom.css?v=1", :media => "all", :rel => "stylesheet" }/

    %script{ :src => '/javascripts/libs/modernizr-2.0.6.custom.min.js' }

    <!--[if !IE 7]>
    %style{ :type => 'text/css' }
      \#wrap { display:table; height:100%; }
    <![endif]-->

    - if ENV["RACK_ENV"] == "production"
      :javascript
        !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
        arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
        d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
        insertBefore(d,q)}(window,document,'script','_gs');

        _gs('GSN-575327-Q');

  %body
    / Google Tag Manager
    %noscript
      %iframe{ src: '//www.googletagmanager.com/ns.html?id=GTM-K4PR7R', style: 'display: none; visibility; hidden', height: 0, width: 0 }
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K4PR7R');

    #wrap
      #header
        .container_12
          .grid_3
            %h1= link_to 'William Lawrence Camp', '/'
          .grid_9
            %ul
              %li.menu-item.last{ :'data-name' => 'contact' }= link_to 'Contact', '/contact.html'
              %li.menu-item{ :'data-name' => 'news' } News
              %li.menu-item{ :'data-name' => 'tradition' } Tradition
              %li.menu-item{ :'data-name' => 'alumni' } Alumni
              %li.menu-item{ :'data-name' => 'parents' } Parents
              %li.menu-item{ :'data-name' => 'campers' } Campers
              %li.menu-item{ :'data-name' => 'tour' } Tour
      - ['tour', 'campers', 'parents', 'alumni', 'tradition', 'news'].each do |section|
        .nav{ class: 'subnavigation', id: section }= partial "#{section}/subnavigation"
      #main
        .container_12
          #flash-detect.grid_12
            %p
              Unfortunately to watch our videos you&rsquo;ll need to install Flash.
              = link_to 'Install Flash now.', 'http://get.adobe.com/flashplayer/', target: :blank
          = yield
    #footer
      .container_12
        .grid_12.sans-serif
          .social
            %span.facebook= link_to 'Staff', '/staff.html', target: :blank
            &nbsp;&middot;&nbsp;
            %span.facebook= link_to 'Facebook', 'http://facebook.com/williamlawrencecamp', target: :blank
            &nbsp;&middot;&nbsp;
            %span.youtube= link_to 'YouTube', 'http://www.youtube.com/user/WilliamLawrenceCamp', target: :blank
            &nbsp;&middot;&nbsp;
            %span.aca= link_to 'Accredited by the American Camp Association', 'http://find.acacamps.org/camp_profile.php?camp_id=1569', target: :blank
            &nbsp;&middot;&nbsp;
            = mail_to "knoll@wlcamp.org", "Email us at knoll@wlcamp.org"
          %address{ style: 'display block' }
            = link_to "139 Federal Corner Rd, PO Box 52, Ctr Tuftonboro, NH 03816", "/directions.html"
            &nbsp;&middot;&nbsp;
            603-569-3698
          .avand
            Website lovingly crafted by
            == #{link_to 'Avand Amiri', 'http://avandamiri.com'}, Bill Larry Boy &amp; Brave
          .copyright
            &copy; William Lawrence Camp,
            = Time.now.year

    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" }
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" }
    :javascript
      window.jQuery || document.write("<script src='/javascripts/libs/jquery-1.7.1.min.js'>\x3C/script>")
    %script{ :src => '/javascripts/libs/jquery.backstretch.min.js' }
    %script{ :src => '/javascripts/libs/jquery.cycle.lite.js' }
    %script{ :src => '/javascripts/libs/jquery.easing.js' }
    %script{ :src => '/javascripts/libs/flash-detect.min.js' }
    %script{ :src => '/javascripts/custom.js' }

    :javascript
      if (!Modernizr.video && !FlashDetect.installed){
        $("#flash-detect").show()
      }

    = yield_content :scripts

    - if ENV["RACK_ENV"] != "production"
      %script{ :src => "/javascripts/960gridder.js" }
