!!! 5
%html
  %head
    %link{ :href => 'http://fonts.googleapis.com/css?family=Bitter:400italic,400,700|Permanent+Marker', :rel => 'stylesheet', :type => 'text/css' }/

    %meta{ :charset => "utf-8" }/
    %title= data.page.title
    %meta{ :name => "description", :content => data.page.description }/
    %meta{ :name => "author", :content => "" }/
    %meta{ :name => "keywords", :content => "boys overnight summer camp, summer camp, traditional camp, traditional overnight camp, new hampshire summer camps, new hampshire summer camp, summer camps in new hampshire, summer camp new hampshire, summer camps new hampshire, summer camp in new hampshire, overnight summer camps in new hampshire, new hampshire boy camps, boy camps new hampshire" }/
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"}


    - background = request.path.gsub('.html', '.jpg')
    %meta{ :name => "background", :content => "/images/backgrounds/#{File.exists?('source/images/backgrounds/' + background) ? background : 'default.jpg'}" }

    %meta{ :name => "og:type", :content => "website" }
    %meta{ :name => "og:title", :content => data.page.title }
    %meta{ :name => "og:image", :content => "/images/og/logo.jpg" }
    %meta{ :name => "og:site_name", :content => "William Lawrence Camp - Do Something. This Summer!" }

    -# CSS: implied media="all"
    %link{ :href => "/stylesheets/bootstrap.min.css", :media => "all", :rel => "stylesheet" }/
    
    %link{ :href => "/stylesheets/custom.css?v=1", :media => "all", :rel => "stylesheet" }/


    %script{ :src => '/javascripts/libs/modernizr-2.0.6.custom.min.js' }

    <!--[if !IE 7]>
    %style{ :type => 'text/css' }
      \#wrap { display:table; height:100%; }
    <![endif]-->

    - if ENV["RACK_ENV"] == "production"
      :javascript
        !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
        arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
        d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
        insertBefore(d,q)}(window,document,'script','_gs');

        _gs('GSN-575327-Q');

  %body{ :style => "background-color:transparent;"}
    .navbar.navbar-inverse.navbar-fixed-top{:role=>"navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
            Menu
            %span.sr-only Toggle navigation
            
          = link_to 'William Lawrence Camp', '/', class: 'navbar-brand'
        %div.collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav.navbar-right
            %li=link_to  'Enroll Here', '/parents/enrollment-information.html', {:style=>'color: yellow;font-weight: bold;'}
            -['tour', 'campers', 'parents', 'tradition', 'news', 'connect'].each do |section|
              = partial "#{section}/subnavigation"
    #wrap
      #main
        .container
          = yield
    #footer_custom
      .container
        .row
          .col-sm-3.col-xs-4
            %p= link_to 'Staff', '/staff.html', target: :blank
            %p= link_to 'YouTube', 'http://www.youtube.com/user/WilliamLawrenceCamp', target: :blank
            %p= link_to 'Facebook', 'http://facebook.com/williamlawrencecamp', target: :blank
            %p= link_to 'Contact Us', '/connect/contact.html'
            %p= link_to 'Stay Informed', '/connect/mailing-list'
          .col-sm-6.col-xs-8
            %p 603-569-3698
            .copyright
              &copy; William Lawrence Camp,
              = Time.now.year
            %address_custom{ style: 'display block' }
              = link_to "139 Federal Corner Rd, PO Box 52, Ctr Tuftonboro, NH 03816", "/directions.html"
            .avand
              Website lovingly crafted by
              == #{link_to 'Avand Amiri', 'http://avandamiri.com'}, Bill Larry Boy &amp; Brave
            
            =link_to image_tag('/images/footer/ACA-logo.png', width:"40"),'http://find.acacamps.org/camp_profile.php?camp_id=1569'
          .col-sm-3.col-xs-12
            =partial "./shared/mailchimp_advertising"
    %script{:src=>'https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'}
    %script{:src=>'//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'}
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" }
    %script{ :src => '/javascripts/libs/jquery.backstretch.min.js' }
    %script{ :src => '/javascripts/libs/flash-detect.min.js' }
    %script{ :src => '/javascripts/custom.js' }
    / Google Tag Manager
    %noscript
      %iframe{:height => "0", :src => "//www.googletagmanager.com/ns.html?id=GTM-K4PR7R", :style => "display:none;visibility:hidden", :width => "0"}
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K4PR7R');/ End Google Tag Manager

    = yield_content :scripts

    - if ENV["RACK_ENV"] != "production"
      %script{ :src => "/javascripts/960gridder.js" }
