!!! 5
%html
  %head
    %link{ :href => 'https://fonts.googleapis.com/css?family=Amatic+SC:700|Lato:400,400i,700', :rel => 'stylesheet', :type => 'text/css' }/

    %meta{ :charset => "utf-8" }/
    %title= data.page.title
    %meta{ :name => "description", :content => data.page.description }/
    %meta{ :name => "author", :content => "" }/
    %meta{ :name => "keywords", :content => "boys overnight summer camp, summer camp, traditional camp, traditional overnight camp, new hampshire summer camps, new hampshire summer camp, summer camps in new hampshire, summer camp new hampshire, summer camps new hampshire, summer camp in new hampshire, overnight summer camps in new hampshire, new hampshire boy camps, boy camps new hampshire" }/
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"}

    - background = request.path.gsub('.html', '.jpg')
    - background_path = "source/images/backgrounds/#{background}.jpg"
    - if File.exists?(background_path)
      - raise background_path.inspect
      %meta{ :name => "background", :content => "/images/backgrounds/#{background_path}" }

    %meta{ :name => "og:type", :content => "website" }
    %meta{ :name => "og:title", :content => data.page.title }
    %meta{ :name => "og:image", :content => "/images/og/logo.jpg" }
    %meta{ :name => "og:site_name", :content => "William Lawrence Camp - Do Something. This Summer!" }

    -# CSS: implied media="all"
    %link{ :href => "/stylesheets/bootstrap.min.css", :media => "all", :rel => "stylesheet" }/

    %link{ :href => "/stylesheets/custom.css?v=1", :media => "all", :rel => "stylesheet" }/

    %link{ href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", media: "all", rel: "stylesheet" }

    %script{ :src => '/javascripts/libs/modernizr-2.0.6.custom.min.js' }

    <!--[if !IE 7]>
    %style{ :type => 'text/css' }
      \#wrap { display:table; height:100%; }
    <![endif]-->

    - if ENV["RACK_ENV"] == "production"
      / Google Analytics
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-739599-6', 'auto');
        ga('send', 'pageview');

  %body{ :style => "background-color:transparent;"}
    / Google Tag Manager
    %noscript
      %iframe{ src: '//www.googletagmanager.com/ns.html?id=GTM-K4PR7R', style: 'display: none; visibility; hidden', height: 0, width: 0 }
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K4PR7R');

    .navbar.navbar-fixed-top{:role=>"navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
            Menu
          = link_to 'William Lawrence Camp', '/', class: 'navbar-brand'
        %div.collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav.navbar-right
            %li=link_to  'Enroll Here', '/enroll.html', {:style=>'color: yellow;font-weight: bold;'}
            %li=link_to "Tour", "/tour"
            %li=link_to "Campers", "/campers"
            -['parents', 'tradition', 'news', 'contact-us'].each do |section|
              = partial "#{section}/subnavigation"

    #wrap
      = yield_content :premain
      #main
        .container
          = yield

    %footer
      .container
        .row
          .col-sm-4.col-sm-push-8.col-xs-12
            = partial "./shared/mailchimp"
          .col-sm-8.col-sm-pull-4.col-xs-12
            %p
              %address_custom{ style: 'display block' }
                = link_to "139 Federal Corner Rd, PO Box 52, Ctr Tuftonboro, NH 03816", "/directions.html"
            %p
              %span= link_to 'Staff', '/staff.html', target: :blank
              &nbsp;&middot;&nbsp;
              %span= link_to 'Contact Us', '/contact-us/contact.html'
              &nbsp;&middot;&nbsp;
              %span= mail_to 'knoll@wlcamp.org', 'knoll@wlcamp.org'
              &nbsp;&middot;&nbsp;
              603-569-3698
            .social{ style: "font-size: 2em;" }
              = link_to('<i class="fa fa-facebook-square"></i>', 'https://facebook.com/williamlawrencecamp', target: :blank)
              = link_to('<i class="fa fa-youtube-square"></i>', 'https://www.youtube.com/user/WilliamLawrenceCamp', target: :blank)
              = link_to('<i class="fa fa-instagram"></i>', 'https://instagram.com/williamlawrencecamp', target: :blank)
              = link_to('<i class="fa fa-twitter-square"></i>', 'https://twitter.com/wlcamp', target: :blank)
              = link_to('<i class="fa fa-google-plus-square"></i>', 'https://plus.google.com/103058120108267752423/about', target: :blank)
        .row
          .col-xs-12{ style: "text-align: center; margin-top: 1em;" }
            = link_to image_tag('/images/footer/ACA-logo.png', style: "width: 100px; height: 60px; margin-bottom: 1em;"), 'http://find.acacamps.org/camp_profile.php?camp_id=1569', style: "border: none;"
            %div{ style: "font-size: .8em" }
              == &copy; William Lawrence Camp, #{Time.now.year}
              %br/
              Website built and maintained by alumni,
              == #{link_to 'Avand', 'http://avandamiri.com'} and
              Erik

    %script{:src=>'https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'}
    %script{:src=>'//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'}
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" }
    %script{ :src => '/javascripts/libs/jquery.backstretch.min.js' }
    %script{ :src => '/javascripts/custom.js' }

    = yield_content :scripts
