---
title: "Staff Forms and Paperwork"
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire.  We hold yearly certification classes for nearby camps, and have a professional staff that care for your child."
---

.grid_12
  .liner.shadow.rounded
    %h2 Visiting Staff

    %p
      Each year, we hold certification classes in early June for our own staff and the public.
      View course dates, prices, or enroll by returning the completed form with payment as indicated:

    %ul
      %li= link_to 'Download the Flyer', 'http://dl.dropbox.com/u/30260739/Staff/Staff%20Cert%20%20Flyer%202012.pdf', target: :blank

.grid_12
  .liner.shadow.rounded
    %h2 Potential Staff

    %p
      William Lawrence Camp is a wonderful, safe, and exciting place to work.
      Staff members work hard, but the rewards of spending the summer working with children,
      outdoors, and with the White Mountains and other wilderness areas just down the road are definitely worth it.
      Becoming a staff member at William Lawrence is not just taking a job, it is joining a family.

    %p
      Anyone interested in applying for a position should complete the
      Staff Application below and return it to camp, either by
      = mail_to 'knoll@wlcamp.org', 'emailing it'
      or posting it to us:

    %p
      William Lawrence Camp<br />
      PO Box 52, 139 Federal Corner Road<br />
      Ctr Tuftonboro, NH 03816

    %ul
      %li= link_to 'Our View of People Who Will be Successful Here', 'http://dl.dropbox.com/u/30260739/Staff/LEADERS%20WE%20SEEK%20AT%20WILLIAM%20LAWRENCE%20CAMP.pdf', target: :blank
      %li= link_to 'Staff Application', 'http://dl.dropbox.com/u/30260739/Staff/Camp%20Staff%20Application.pdf', target: :blank

.grid_12
  .liner.shadow.rounded
    %h2 Hired Staff

    %p
      Once hired, staff members will receive a letter from the Executive Director,
      along with a contract and job description. The letter will provide direction
      regarding additional forms which must be completed and returned to camp.
      Staff members will also need to study our Staff Handbook.
      These additional forms, as well as the Handbook, will be posted here each year as they are ready for use.
      Additional files will provide helpful information.

    %ul
      %li= link_to 'Leaders We Seek', 'http://dl.dropbox.com/u/30260739/Staff/LEADERS%20WE%20SEEK%20AT%20WILLIAM%20LAWRENCE%20CAMP.pdf', target: :blank
      %li= link_to 'Staff Handbook', 'http://dl.dropbox.com/u/30260739/Staff/staffguide.pdf', target: :blank
      %li
        = link_to 'W-4', 'http://dl.dropbox.com/u/30260739/Staff/Form_w4.pdf', target: :blank
        (optional for returning staff)
      %li= link_to 'I-9 form', 'http://dl.dropbox.com/u/30260739/Staff/i-9.pdf', target: :blank
      %li= link_to 'Health History Form', 'https://www.dropbox.com/sh/mel71kj5umfk532/XI2eZpmVZe/Staff/Huggins_Permission_Form_ADULT.jpg', target: :blank
      %li= link_to 'Voluntary Disclosure Statement', 'http://dl.dropbox.com/u/30260739/Staff/Voluntary_Disclosure_Statement.pdf', target: :blank
      %li= link_to 'International Staff - Helpful Information', 'http://dl.dropbox.com/u/30260739/Staff/HELPFUL%20INFORMATION%20FOR%20INTERNATIONAL%20STAFF.pdf', target: :blank
      %li= link_to 'International Staff - Travel to Camp advice', 'http://dl.dropbox.com/u/30260739/Staff/INTERNATIONAL%20STAFF%20TRAVEL%20TO%20CAMP.pdf', target: :blank
      %li= link_to 'Huggins Treatment Permission Form', 'http://dl.dropbox.com/u/30260739/Campers/Huggins_treatment_permission_form.pdf', target: :blank

